[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
redis = "*"
celery = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
django-rq = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
